input {
    border: none;
    outline: none;
    background: none;
    font-size: 18pt;
}

input:focus {
    outline: none;
    box-shadow: none;
}

#contract {
    letter-spacing: 2pt;
}

#image-bg {
    width: 170px;
    height: 170px;
    background: #ccc;
    display: flex;
    justify-content: center;
    margin: 3em auto 0 auto;
    position: relative;
}

#image-bg > img {
    z-index: 10;
}

#input-label {
    display: flex;
    justify-content: center;
    align-self: center;
    color: #555;
    width: 100%;
    height: 100%;
    position: absolute;
}

#input-label:hover {
    cursor: pointer;
    color: black;
}

#name {
    font-weight: bold;
}

#publish {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 14pt;
    margin-top: 2em;
    padding: 7px 20px;
    background: #ff616f;
    color: white;
    transition: .3s;
}

#publish:hover {
    transform: scale(1.1,1.1);
    box-shadow: 0 0 30px rgba(255, 23, 68, .7);
    background: #ff1744;
}

.round-border {
    border-radius: 999px;
}

.t-center {
    text-align: center;
}