.switch {
    display: block;
    width: 120px;
    height: 50px;
    background-color: lightgrey;
    border-radius: 1000px;
    position: relative;
    -webkit-appearance: none;
    transition: background-color .3s;
    box-shadow: inset 0px 1px 5px rgba(0,0,0,.3);
    cursor: pointer;
    margin: 25px 0;
}

.switch:checked.red{
    background-color: #f44336;
}

.switch:checked.yellow{
    background-color: #ffeb3b;
}

.switch:checked.green{
    background-color: #76ff03;
}

.switch:before {
    content:'';
    position:absolute;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    left:0;
    top: 0;
    transform: scale(0.9);
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0,0,0,.3);
    transition: .5s;
}

.switch:checked::before {
    left: 70px;
}

#console {
    background-color: #102027;
    width: 75%;
    font-size: 10pt;
    color: white;
    padding: 15px 30px;
    margin: 0 auto;
    border-radius: 10px;
}

#console > div {
    height: 150px;
    overflow-y: scroll;
    scrollbar-width: none;
}

#console > div::-webkit-scrollbar {
    display: none;
}

#console > div > code {
    display: block;
    margin: 8px 0;
}